:root {
  --card-width: 450px; /* Define the minimum width for a card */
  --card-margin: 20px; /* Define the minimum distance between cards */
}

.GridCardContainer {
  display: block flex;
  padding: 15px;
  /* border: 1px solid #88fbff; */
  border: 1px solid #a8bdc7;
  border-radius: 10px;
  /* shadow */
  /* border-bottom: 5px solid #5C6B73; */
  /* border-right: 5px solid #5C6B73; */
  /* usually try to fit 2 on the screen*/
  /* width: 450px; */
  /* gap: 10px; */
  width: 90%;

  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

.elevated-outline {
  border: 2px solid var(--primary-color); /* Outline color and thickness */
  border-radius: 8px; /* Optional: rounded corners */
  padding: 16px; /* Space inside the element */
  background-color: white; /* Background color of the element */
  box-shadow: 0 4px 8px rgb(37, 50, 55, 0.2); /* Creates the elevation effect */
  transition: box-shadow 0.3s; /* Smooth transition for hover effect */
}

.elevated-outline:hover {
  box-shadow: 0 8px 16px rgb(37, 50, 55, 0.3); /* Darker shadow on hover */
}

.GridCardImageDataContainer {
  /* game changer */
  aspect-ratio: 1/1;
  /* width: 45%; */
  justify-content: center;
  align-items: center;
  /* No idea why otherwise these two do not align */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.GridCardDataContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GridCardTitle {
  font-size: 50px;
  /* Could try other stuff, but this seems to do the job decently */
  line-height: 0.9;
  margin-left: -3px;
}

.GridCardDataContainerContainer {
  /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  width: 100%;
}

.GridCardImage {
  border: 0.5px solid #5c6b73;
  border-radius: 10px;
  /* height: 90%; */
  background-color: rgb(255, 255, 255);
  aspect-ratio: 1/1;
  width: 125px;
}

.GridCardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
