@import url("../../constants/ColorConstants.css");

.HomeContainer {
  background: var(--background-color);
  height: 100vh;
}

.HomeHeader {
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 80px;
  padding: 10px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;

  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
